<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Signup - ExpenseBuzz</title>
    <link rel="stylesheet" href="../public/login.css"/>
  </head>
  <body>
    <div class="main-box">
      <div class="auth-left">
         <div class="img-div">
            <img src="./Authlogo.png" alt="">
         </div>
       
      </div>

      <div class="form-box">
        <h3>Log In</h3>
        <form>
        

          <input type="email" name="email" placeholder="E-mail address" required>
          <input type="password" name="password" placeholder="Password" required>

        

          <button type="submit" class="login-form-btn">Log In</button>
        </form>
        <div class="signin-div">
          <p>Don't have an account ? <a href="">Sign Up</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
