<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseBuzz-An expense manager</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>

    <!-- -----------------toast---------------- -->
    <!-- <section class="toastify">

    </section> -->

    <!-- ----------------left---------------------------- -->
    <section class="left">
        <div class="heading">
            <h1>ExpenseBuzz</h1>
            <h5>Track your day to day expenses</h5>

        </div>
        <div class="home-img">
            <img src="../../image/trs.jpg"alt="">
        </div>

    </section>
    
    <!-- --------------------right------------------------------ -->
    <section class="right">
        <div class="form-box">
            <h3>Login </h3>
            <form>
         
              <div class="form-control">
                <input type="email" name="email" id="email" placeholder="E-mail address" required>
              </div>
             
              <div class="form-control">
                <input type="password" name="password" id="password" placeholder="Password" required>
              </div>
             
                <button type="submit" class="login-form-btn">Login</button>
                <hr/>
                <a href="./forgot-password.html" class="forgot-password-link">Forgot Password?</a>
                
            </form>
            <div class="login-div">
              <p>Don't have an account ? <a href="./signup">Signup</a></p>
            </div>
           
          </div>

    </section>
    <script src="../../scripts/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</body>
</html>