*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color:#d7e5f4;
}
.main-box{
    height: 100vh;
   
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* position: relative; */
    background-color:#d7e5f4;
   
}

.a-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

 h2{
   
    text-align: center;
}
h6{
    text-align: center;
}
/* .img-div{
    margin-left: 7rem;
} */
.a-left img{
    height: 20rem;
    width: 15rem;
  
  
    
}
.form-box{
   background-color: #f6f0f4;

  padding: 1rem 1.5rem;
 
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form-box h3{
    text-align: center;
    
}
form{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.2rem;
    
}
input{
    width: 100%;
    outline: none;
    padding: 0.5rem;
    text-overflow: inherit;
    border: 1px solid #30bd07;
    border-radius: 0.2rem;
    background: transparent;
    font-size: 0.9rem;
}

.login-form-btn{
    padding:0.5rem 6.8rem ;
    
    background-color: #044564;
    color: #ffffff;
    outline: none;
    border: 1px solid #9ceb08;
    border-radius: 0.2rem;
    font-size: 1rem;
    transition: var(--transition);
}
.login-form-btn:hover{
    background-color: #263238;
}
.signin-div{
    margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-div p a{
    padding: 0 0.5rem;
    text-decoration: none;
    color: #048065;
    font-weight: 500;
}